{{> head}}
{{> navbar}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Registro de Libros</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Titulo</th>
                                <th scope="col">Autor</th>
                                <th scope="col">Editorial</th>
                                <th scope="col">Año de Publicación</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each libros}}

                            <tr>
                                <th scope="row">{{ i }}</th>
                                <td>{{this.titulo}}</td>
                                <td>{{this.autor}}</td>
                                <td>{{this.editorial}}</td>
                                <td>{{this.anio}}</td>
                                <td>
                                    {{#if this.pdf}}
                                    <a href="/archivos?id={{this.pdf}}">Ver Documento</a>
                                    {{/if}}
                                    
                                </td>
                                <td><a href="/libro/editar?id={{this._id}}">Editar</a></td>
                            </tr>
                            {{/each}}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>


</div>

{{> footer }}